@import '~antd/dist/antd.css';

.App {
  text-align: center;
  margin-top: 3%;

}

.classCard {
  
  width: 85%;
  margin: 0px auto 2.5em 2.5em ;
}

.formGroup {
  text-align: left;
  height: 3.5em;
}

#filterWord {
  font-family: "Helvetica Neue", Helvetica;
  text-align: left;
  padding: 0px 1em;
  font-weight: 600;
  color: #3f444c;
}

.formControl {
   box-shadow: 2px 2px 3px lightgrey;
   font-family: "Open Sans",sans-serif;
   font-size: 1em;
   color: gray;
   height: 3.5em;
}

option{
  font-size: 1em;
  box-shadow: transparent;
}

.sliderbox {
  margin: 3em 0em 3em 0.5em;
}

.slider {
  color: red;
}

.btn-group-toggle, .btn-toolbar {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

}


.btn-primary, .btn-primary.focus {
  background-color: transparent !important;
  color: grey !important;
  border-color: transparent !important;
  font-family: "Open Sans",sans-serif !important;
  font-weight: bold !important;
  font-size: 160% !important;
  box-shadow: none;

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-group{
  background-color: transparent !important;
  color: #91d5ff !important; 
  border-color: transparent !important;
  box-shadow: none;
}

.schedulePop{
  margin: 0em 0em 1em 0em;
}

.dashPop{
  margin: 1em 0em 0em 0em;
}

.schedulePop, .dashPop{
    width: 6.5em;
    background-color: #53afe8;
    border-color: #53afe8;
    box-shadow: 2px 4px 6px lightgray;

}

.card-title{
  font-size: 14px;
  text-align: left;
}

.card-subtitle{
  font-size: 12px;
  text-align: left;
  margin-bottom: 12px;
}

.card-text{
  text-align: left;
  font-size: 10px;
}

td{
  vertical-align: top;
}

.rowTitle{
  font-weight: bold;
}

.trim-text {

  display: inline-block;

  white-space: nowrap;

  overflow: hidden;

  text-overflow: ellipsis;

}
