@import '~antd/dist/antd.css';

.App {
  text-align: center;
  margin-top: 3%;

}

.classCard {
  
  width: 90%;
  margin: 0px auto 2em auto ;
}

.formGroup {
  text-align: left;
}

#filterWord {
  font-family: "Helvetica Neue", Helvetica;
  text-align: left;
  padding: 0px 1em;
  font-weight: 600;
  color: #3f444c;
}

.formControl {
   box-shadow: 2px 2px 3px lightgrey;
   font-family: "Open Sans",sans-serif;
   font-size: 0.9em;
   color: gray;
}

.sliderbox {
  margin: 3em 0em 3em 0.5em;
}

.slider {
  color: red;
}

.btn-group-toggle {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.btn-primary, .btn-primary.focus {
  background-color: transparent;
  color: grey;
  border-color: transparent;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  font-size: 2em;
  box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-group{
  background-color: transparent !important;
  color: #91d5ff !important; 
  border-color: transparent !important;
  box-shadow: none;
}

/*.ant-slider-track{
  background-color: red;
}

.ant-slider-handle, .ant-slider-dot-active{
  border-color: red;
  background-color: red;
}

.ant-slider-track.ant-slider-track-1:hover{
  background-color: red;
}*/


